<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vet Owners</title>
</head>
<body>
<h1>List of Owners</h1>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">Panda</td>
            <td th:text="${owner?.lastName}">Karady</td>
        </tr>
    </tbody>
</table>
</body>
</html>